<div class="form-forgot">
  <div style="margin: 10% auto; width: 395px;">
    <div class="authfy-login">
      <div class="authfy-panel panel-cap-lai-mat-khau active">
        <input name="__RequestVerificationToken" type="hidden" value="forgot-password">
        <input asp-for="ReturnUrl" type="hidden">
        <div class="form-login">
          <div class="text-center">
            <a href="http://localhost:4200/home"><img src="assets/images/logo-vaa.png" /></a>
          </div>
          <p class="title">Đặt lại mật khẩu của bạn</p>
          <p lang="quenmatkhau-label">
            Hãy đặt lại mật khẩu cho tài khoản của bạn.
          </p>
          <p>
            <input autocomplete="new-password" class="input" data-val="true" data-val-required="Nhập mật khẩu mới" id="newPassword"
              lang="quenmatkhau-placeholder" name="newPassword" placeholder="Nhập mật khẩu mới" type="password"
              [(ngModel)]="newPassword">
          </p>
          <p>
            <input autocomplete="new-password" class="input" data-val="true" data-val-required="Xác nhận mật khẩu" id="ConfirmPassword"
              lang="quenmatkhau-placeholder" name="ConfirmPassword" placeholder="Xác nhận mật khẩu" type="password"
              [(ngModel)]="confirmPassword">
          </p>
          <div>
            <div class="clearfix"></div>
          </div>
          <p></p>
          <p>
          </p>
          <div style="float:right">
            <input type="button" class="btn-cancel btn btn-light" value="Hủy" (click)="redirectToLogin()">
            <input type="button" id="continue" class="btn btn-primary" value="Tiếp tục" (click)="resetPassword()">
          </div>
          <p></p>
          <br>
          <p style="text-align:right; margin-top:50px">
            <span class="text-danger">{{ errorMessage }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
