
.form-forgot {
  background-image: url('/assets/images/background-forgot.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.form-login{
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 3px 12px rgb(0 0 0 / 25%);
  border-radius: 6px;
  margin: auto;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.text-center img {
  margin-top: 10px;
}

.title {
  font-size: 20px;
  color: rgb(45, 53, 57);
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

p{
  word-wrap: nowrap;
  font-size: 14px;
  color: rgb(45, 53, 57);
  margin-top: 15px;
  font-weight: 400;
}

.form-login .input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ddd;
  outline: 0;
  font-size: 14px;
  font-style: italic;
}

.btn-cancel {
  background-color: #e2e6ea;
  border-color: #e2e6ea;
  margin-right: 10px
}

  .btn-cancel:hover {
      background-color: #cdcdcd;
      border-color: #cdcdcd;
  }
