<main class="wapper-login">
  <header class="header">
    <div class="container">
      <div class="logo-login-main text-center">
        <a [href]="VAA_URL + '/home'"><img src="assets/images/vaa2.png" /></a>
      </div>
    </div>
    <div style="clear: both"></div>
  </header>

  <section class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-md-9">
          <div id="ViewDanhSachTinTuc">
            <div class="notifi notifi-tab h-100">
            </div>
          </div>
        </div>

        <div class="form-login-sv">
          <div class="bg-form authfy-login"
            style="height: 630px; background: url('../../../assets/images/backgroundform.jpg') center center no-repeat; background-size: cover;">
            <div class="form-login-wrap h-100 w-100">
              <div class="authfy-panel panel-login active">
                <form (ngSubmit)="login()" autocomplete="new-password" class="form-login">
                  <div class="form-login">
                    <div class="text-center">
                      <img src="assets/images/vaa3.png" style="max-width: 100%; max-height: 95px" />
                    </div>
                    <h4 lang="loginnews-pagetitle">ĐĂNG NHẬP HỆ THỐNG</h4>
                    <div class="group">
                      <input autocomplete="new-password" class="input" id="MSSV" name="MSSV" placeholder="Nhập mã sinh viên" required="required"
                        [(ngModel)]="MSSV" name="MSSV" type="text" />
                      <input autocomplete="new-password" class="input" id="password" name="password" placeholder="Nhập mật khẩu" required="required"
                        [(ngModel)]="password" type="password" />
                      <div class="text-right">
                        <label>
                          <input type="checkbox" value="true" />
                          <input type="hidden" value="false" />
                          Đã tốt nghiệp
                        </label>
                      </div>
                      <div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <button type="submit" class="button">Đăng nhập</button>
                    <div class="link">
                      <br>
                      <p>
                        <a [href]="VAA_URL + '/forgot-password'" lang="loginnews-forgotpwd">Quên mật khẩu?</a>
                      </p>
                    </div>
                  </div>
                </form>
                <div class="box-download-app">
                  <div class="box-download-title">
                    <span>Tải App Mobile sinh viên:</span>
                  </div>
                  <div class="box-download-btn">
                    <div class="box-btn-flex">
                      <div class="btn-gg-play">
                        <a href="https://play.google.com/store/apps/details?id=vn.com.oneuni" rel="noopener">
                          <img style="margin: 0 !important" src="assets/images/google-play.png" alt="Google Play">
                        </a>
                      </div>
                      <div class="btn-app-store">
                        <a href="https://apps.apple.com/us/app/oneuni/id1673685126">
                          <img style="margin: 0 !important" src="assets/images/app-store.png" alt="App Store">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="box-btn-guide">
                    <a href="https://oneuni.com.vn/" target="_blank">Hướng dẫn sử dụng App OneUni</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
