<div class="form-forgot">
  <div style="margin: 10% auto; width: 395px;">
    <div class="authfy-login">
      <div class="authfy-panel panel-cap-lai-mat-khau active">
        <input name="__RequestVerificationToken" type="hidden" value="forgot-password">
        <input asp-for="ReturnUrl" type="hidden">
        <div class="form-login">
          <div class="text-center">
            <a [href]="VAA_URL + '/home'"><img src="assets/images/logo-vaa.png" /></a>
          </div>
          <p class="title">Đặt lại mật khẩu của bạn</p>
          <p lang="quenmatkhau-label">
            Vui lòng nhập mã OTP đã được gửi đến email của bạn.
          </p>
          <p>
            <input autocomplete="off" class="input" data-val="true" data-val-required="Nhập mã OTP" id="OTP" lang="quenmatkhau-placeholder"
              name="OTP" placeholder="Nhập mã OTP" required="required" type="text" [(ngModel)]="otp">
          </p>
          <div>
            <div class="clearfix"></div>
          </div>
          <p></p>
          <p>
          </p>
          <div style="float:right">
            <input type="button" class="btn-cancel btn btn-light" value="Hủy" (click)="redirectToLogin()">
            <input type="button" id="continue" class="btn btn-primary" value="Tiếp tục" (click)="loginByOTP()">
          </div>
          <p></p>
          <br>
          <p style="text-align:right; margin-top:50px">
            <span class="text-danger">{{ errorMessage }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
